@model BankTransaction
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Make Transaction";
    var username = @HttpContextAccessor.HttpContext.Session.GetString("username");
}

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="row">
            <div class="col-md-8 offset-2">
                <form id="Transaction_form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FromAccountId" class="control-label"></label>
                        <input id="FromAccountId" asp-for="FromAccountId" class="form-control" value=@ViewData["id"]  readonly>
                        <span asp-validation-for="FromAccountId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ToAccountId" class="control-label"></label>
                        <input id="ToAccountId" asp-for="ToAccountId" class="form-control">
                        <span asp-validation-for="ToAccountId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input id="Amount" asp-for="Amount" class="form-control">
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Confirme" class="btn btn-outline-success float-right">
                    </div>
                    <input id="username" type="text" hidden value=@username>
                </form>
            </div>
        </div>
        <span id="msg"></span>
    </div>
</div>

<script src="~/js/MakeTransaction.js" asp-append-version="true"></script>